name: Run Supabase Migrations

on:
  push:
    branches: [ main ]
    paths:
      - 'supabase/migrations/**'

jobs:
  run-migrations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install supabase CLI
        run: npm i -g supabase

      - name: Login to Supabase
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}
        run: supabase login --token "$SUPABASE_ACCESS_TOKEN"

      - name: Run migrations
        working-directory: ./supabase
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
        run: supabase db push
